*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
a{
    text-decoration: none;
    cursor:pointer;
}
body{
    background:#E8E4E1;
    color:white;
    position: relative;
    
}
.flex{
    display:flex;
    align-items: center;
}
aside{
    background:#BCA49C; 
    position:fixed;
    left:0;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:4rem
}
aside img{
    margin:1rem 0
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding:2rem 4rem 1rem 7rem;
}
header .header__nav ul{
    list-style-type: none;
    display:flex;
}
header .header__nav ul a{
    color:#808080;
    text-decoration: none;
    margin-left:1.2rem;
    font-weight: 600;
    transition:.5s all
}
header nav ul a:hover{
    color:black
}
main{
    color:#383838;
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding:2rem 4rem 1rem 7rem;
    min-height: 60vh;
}
main .mainTitle{
    font-size: 3rem;
    letter-spacing: 2rem;
    color:#E8E4E1;
    text-shadow: -1px -1px 0 #383838, 1px -1px 0 #383838, -1px 1px 0 #383838, 1px 1px 0 #383838;
}
main .izquierda_galeria{
    display:flex;
    position: relative;
}
.izquierda_galeria .galeria__info{
    position: absolute;
    bottom:5rem;
    left:0;
}
.galeria__info label{
    cursor:pointer
}
.galeria__info h5{
    margin:.5rem 0;
} 
.galeria__info .galeria__description {
    width:55%;
    font-size: .7rem;
}
.galeria__info #numeros{
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.izquierda_galeria .galeria__imagen-budin{
    position: relative;
    left:11rem;
}
.galeria__imagen-cookie,
.galeria__cookies{
    display:none;
}
.galeria__imagen-cookie img{
    width:24rem;
    position:relative;
    left:12rem;transition:.5s all
}
#derecha__titulos{
    position: relative;
    right:7rem
}
.titulo{
    font-size: 3rem;
}
.titulos__subtitulo{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom:3rem;
    color:#4d4d4d;
    width:70%;
    font-weight: light;
}
main .main-button{
    background:#DBBC93;
    color:#272727;
    font-weight: 600;
    padding:.5rem 1rem;
    cursor:pointer;
    transition:.3s all
}
main a:hover{
    font-size: 1.1rem;
}
footer{
    background:#260F09;
    padding:2rem 4rem 1rem 7rem;
    display:flex;
    justify-content: space-between;
}
footer ul{
    list-style-type: none;
    text-align: right;
}
footer ul a{
    color:white;
    text-decoration: none;
}
footer ul li{
    margin-bottom:.7rem;
}
.footer__inputEmail{
    background:#E8E4E1;
    border:none;
    border-bottom:3px solid #DBBC93;
    padding:.5rem;
    margin:1rem 0;
    outline: none;
    color:black;
}
.footer__send{
    background: #DBBC93;
    color:black;
    padding:.5rem;
    padding-bottom: .7rem;
    border:none
}
.footer__conditions{
    display:flex;
    align-items: flex-start;
}
.footer__conditions label{
    font-size: .6rem;
    margin-left:.5rem;
    margin-bottom:3rem;
    width:70%;
    color:grey
}
.footer__marca img{
    margin-right:.5rem
}
/* PRODUCTOS */
.mainProductos{
    flex-direction: column;
    justify-content: flex-start;
}
.mainProductos .productos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:4rem 0
}
.mainProductos .card{
    box-shadow: 0 4px 16px rgba(0,0,0,.10);
    display:flex;
    max-width: 30rem;
    min-width: 30rem;
    margin:1.5rem 0;
    background:#F2EEEE;
    position:relative;
}
.card img:nth-child(1){
    max-width: 10rem;
}
.card .descripcion{
    padding:2rem
}
.card h3{
    margin-bottom:1.5rem
}
.card h3 span{
    color:rgb(146, 145, 145)
}
.card .recomendado{
    background:#DBBC93;
    position: absolute;
    font-weight:bolder;
    right:-1rem;
    top:-.5rem;
    padding:.5rem;
    font-size: .8rem;
}

#carouselExampleCaptions{
    position: relative;
    left:50%;
    transform:translateX(-50%);
    padding:3rem 0
}
.carousel-inner{
    width:25rem;   
}
.carousel-inner .carousel-item img{
    transition:.5s all
}
.carousel-inner .carousel-item:hover img{
    filter: brightness(.5);
}
/*ABOUT*/
.mainAbout{
    flex-direction: column;
}
.mainAbout h1{
    padding-bottom:4rem
}
.mainAbout .parAbout{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.mainAbout .parAbout:nth-child(3),
.mainAbout .parAbout:nth-child(5){
    flex-direction: row-reverse;
}
.parAbout .aboutImg{
    width:30rem;
    box-shadow: 0 4px 16px rgba(0,0,0,.25);
    transition:.5s all;
}
.parAbout .aboutImg:hover{
    width:32rem
}
.parAbout p{
    width:40%;
    font-size: 1.3rem;
}


/*REVIEWS*/
.mainReviews{
    display:block
}
.mainReviews .contenedor-reviews{
    display:grid;
    grid-template-columns: repeat(1fr, 7);
    grid-template-rows: repeat(2,minmax(5rem,10rem));
    gap: 1rem;
    max-width: 70rem;
    padding:4rem 0
}
.contenedor-reviews .review{
    background:#eeeceb;
    padding:1rem;
    position: relative;
    transition:.5s all;
    cursor:initial
}
.contenedor-reviews .review:hover{
    box-shadow: 0 4px 16px rgba(0,0,0,.10);
    transform:scale(1.01)
}
.contenedor-reviews .review .comillas{
    font-size:3rem;
    position: absolute;
    top:2rem;
    right:1rem;
    color:#dbbc9377;
    z-index: 0;
    transform:rotate(180deg)
}

.contenedor-reviews .review em{
    position: absolute;
    right:1rem;
    bottom:1rem;
    font-size: .8rem;
}
.contenedor-reviews .review  .contenedor-star{
    position:absolute;
    bottom:1rem;
    display:flex;
    align-items: center;
}
.contenedor-reviews .review  .contenedor-star p{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}
.contenedor-reviews .review:nth-child(1){
    grid-column: 1 / 4;
}
.contenedor-reviews .review:nth-child(2){
    grid-column: 4 / 6;
}
.contenedor-reviews .review:nth-child(3){
    grid-column: 6 / 7;
}
.contenedor-reviews .review:nth-child(4){
    grid-column: 1 / 3;
}
.contenedor-reviews .review:nth-child(5){
    grid-column: 3 / 5;
}
.contenedor-reviews .review:nth-child(6){
    grid-column: 5 / 7;
}

/* CONTACTO */
.contacto__contenedor{
    position: absolute;
    height:100vh;
    width:100vw;
    z-index: 100000;
    background:rgba(0,0,0,.40);
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position:fixed;
    pointer-events: none;
    opacity: 0;
    transition:.7s all
}
.contacto__modal{
    padding:2rem;
    position:fixed;
    background:#E8E4E1;
    color:#383838;
    width:fit-content;
    position: relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.contacto__modal .modal__quit{
    position: absolute;
    right:1rem;
    top:1rem;
    font-weight: bold;
    cursor:pointer;
    transition:.5s all;
}
.contacto__modal .modal__quit:hover{
    transform:rotate(180deg)
}
.contacto__modal form{
    display:flex;
    flex-direction: column;
    margin-top:3rem
}
.contacto__modal form input,
.contacto__modal form textarea{
    padding:.5rem;
    border:none;
    outline:none;
    border-bottom:2px solid #DBBC93;
    margin:.5rem 0 1rem
}
.contacto__modal form .main-button{
    background: #DBBC93;
    width:fit-content;
    padding:.5rem 2rem;
    cursor:pointer;
    transition:.3s all
}
.contacto__modal form .main-button:hover{
    font-size: 1.1rem;
}


/*LABELS INICIO*/
#one:checked + label,
#two:checked + label{
    font-weight: bold;
}
#one:checked ~ .galeria__imagen-cookie{
    display:none
}
#two:checked ~ .galeria__imagen-budin{
    display:none;
}
#two:checked ~ .galeria__imagen-cookie{
    display:block;
}
#two:checked ~ .galeria__budines{
    display:none;
}
#two:checked ~ .galeria__cookies{
    display:block
} 
